BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20
IndentWidth: 4
UseTab: Always

IndentAccessModifiers: false
AccessModifierOffset: -4

ReferenceAlignment: Left
PointerAlignment: Left
QualifierAlignment: Left
AlignArrayOfStructures: Left

AlignAfterOpenBracket: AlwaysBreak
BreakConstructorInitializers: AfterColon
BinPackArguments: false
BinPackParameters: false
AlignEscapedNewlines: DontAlign
SpacesBeforeTrailingComments: 2
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
ContinuationIndentWidth: 4