[submodule "components/lib_json_config/dependencies/json"]
	path = dependencies/json
	url = git@github.com:nlohmann/json.git
[submodule "core_sdk/dependencies/fmt"]
	path = dependencies/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "core_sdk/dependencies/cxxopts"]
	path = dependencies/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "components/lib_window_creation/dependencies/glfw"]
	path = dependencies/glfw
	url = git@github.com:glfw/glfw.git
[submodule "unit_test/dependencies/Catch2"]
	path = dependencies/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "dependencies/glad"]
	path = dependencies/glad
	url = git@github.com:ccamel55/glad.git
[submodule "components/lib_rendering/api/vulkan/dependencies/VulkanMemoryAllocator"]
	path = dependencies/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = git@github.com:g-truc/glm.git
