[submodule "dependencies/json"]
	path = dependencies/json
	url = git@github.com:nlohmann/json.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = git@github.com:glfw/glfw.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
